@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  font-family: "Kumbh Sans", sans-serif;
  width: 100%;
  margin: 0 auto;

  @media (min-width: 500px) {
    width: calc(100% - 30%);
  }

  @media (min-width: 1200px) {
    width: 1200px;
  }
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: #000;
}

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

@mixin containerCenter {
  width: calc(100% - 20%);
  margin: 0 auto;
}
